@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

$colors:(primary:#f8d174,
    accent: #fa403a,
    primary-dark: darken(#f6ca63, 20%));

@function color($name) {
    @return map-get($colors, $name);
}

$tablet: 768px;
$desktop: 1060px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

html {
    font-family: "Nunito", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
        display: inline;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 0.7fr 5fr 1fr 1fr 0.8fr;
    grid-template-areas:
        "brand  nav"
        "main   main"
        "nom    nom"
        "yum    yum"
        "footer footer";

    @include tablet {
        grid-template-columns: 30% 20% 50%;
        grid-template-rows: 0.7fr 5fr 1fr 0.8fr;
        grid-template-areas:
            "brand  nav     nav"
            "main   main    main"
            "nom    nom     yum"
            "footer footer  footer";
    }

    @include desktop {
        grid-template-columns: 0.7fr 0.7fr 1fr;
        // grid-template-rows: 0.7fr 5fr 1fr 0.8fr;
        grid-template-areas:
            "brand  brand   nav"
            "main   main    candy"
            "nom    yum     candy"
            "footer footer  candy";
    }

    .brand {
        grid-area: brand;
        display: flex;
        align-items: center;
        padding-left: 16px;
        background-color: color(primary);

        @include desktop {
            justify-content: flex-start;
            padding-left: 40px;
        }

        a {
            color: color(accent);
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .nav {
        grid-area: nav;
        background-color: color(primary);
        display: flex;
        justify-content: center;
        align-items: center;

        @include desktop {
            padding: 0 60px;
            background-color: white;
        }

        ul {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            @include desktop {
                justify-content: space-between;
            }

            li {
                font-size: 1.1rem;
                font-weight: 600;

                @include desktop {
                    font-size: 1.3rem;
                }
            }

            li:last-child {
                a {
                    color: color(accent);
                    font-weight: 700;
                }
            }
        }

    }

    .main {
        grid-area: main;
        background-color: color(primary);
        padding: 1rem;

        @include desktop {
            padding-left: 40px;
        }

        h1 {
            display: inline-block;
            width: 180px;
        }

        p {
            font-size: 1.1rem;
        }
    }

    .candy {
        display: none;
        background-image: url("../imgs/fruit.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @include desktop {
            display: block;
            grid-area: candy;
            overflow: hidden;
        }
    }

    .nom, .yum {
        font-size: 1.5rem;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nom {
        grid-area: nom;
        background-color: #333333;
        color: white;
    }

    .yum {
        grid-area: yum;
        background-color: #e4af4d;
    }

    footer {
        grid-area: footer;
        display: flex;
        align-items: center;
        background-color: #252525;
        color: #474747;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0 0.8rem;

        p {
            margin: 0;
        }
    }
}